/* Imports de fonts */

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: Titillium_Web;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
    font-weight: bolder;

}

@font-face {
    font-family: Titillium_Web;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
    font-weight: bold;
}


@font-face {
    font-family: Titillium_Web;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
    
}


/* layout-grid */

.layout-grid{

    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.alinhamento-between-center{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Reset CSS */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    color: white;
}









/* MOBLILE FIRST (<=767px)*/

/* HEADER */

header{
    background-color: #1B1426;
    height: 60px;

}

header .header-top{

    display: none;
}

header .header-bottom{

    height: 60px;
}

header .logo{

    width: 86px;
    height: 25px;

}

/* box com os links */
header .header-bottom nav{

    position: fixed;
    left: 0px;
    top: 60px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 80vw;

    /* Viewport - 60px do header */
    height: calc(100vh - 60px);

    /* Fazer um linear gradiente (degradê) */

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));

    /* adicionar o efeito de borrado */
    backdrop-filter: blur(45px);
    
    

}

header .header-bottom nav > a{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-bottom: 2px solid #F9AA01;
    padding: 30px 0;
    color: white;
    text-align: center;
    font-family: Inter;
    text-decoration: none;
    font-size: 15px;
}

/* pseudo elemento */
header .header-bottom nav a:last-of-type {
    
    border: none;

}

header .header-bottom nav .midias-sociais{

    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    

}

header .menu-usuarios{

    position: fixed;
    right: 0;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid red;

}





/***************MAIN************/

