/* Imports de fonts */

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: Titillium_Web;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
    font-weight: bolder;

}

@font-face {
    font-family: Titillium_Web;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
    font-weight: bold;
}


@font-face {
    font-family: Titillium_Web;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
    
}


/* layout-grid */

.layout-grid{

    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.alinhamento-between-center{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Reset CSS */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    color: white;
}









/* MOBLILE FIRST (<=767px)*/

/* HEADER */

header{
    background-color: #1B1426;
    height: 60px;

}

header .header-top{

    display: none;
}

header .header-bottom{

    height: 60px;
}

header .logo{

    width: 86px;
    height: 25px;

}

header nav{

    position: fixed;
    left: 0px;
    top: 60px;
    width: 80vw;
    height: 100vw;
    background-color: gray;


    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}

header .menu-usuarios{

    display: none;
}

