/* imports fonts */

@font-face {
    font-family: BebasNeue-Regular;
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Open-Sans;
    src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
/* Reset de propriedade */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* centralizar conteiner */
.layout-grid {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

/* desktop first */

/* esconder o menu hamburger */
header #menu-hamburger{
    display: none;
}

/********HEADER********/

header {
    width: 100%;
    height: 60px;
    background-color: #F9003D;
}


/* flexblox no cabeçalho */

header .header-flex {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* nav bar */

header nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: BebasNeue-Regular, cursive;
    text-transform: uppercase;
}


/* Links */

header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: "BebasNeue-Regular", cursive;
    letter-spacing: 1px;
    padding: 15px, 25px;
}


/********MAIN********/


/* section 1 */


/* imagem banner */

#section1 {
    width: 100%;
    height: 740px;
    background-image: url(../assets/images/imagem-fundo-banner.png);
}


/* desenvolvimento de sistemas 2023 */

#section1-h1 {
    font-family: Bebas Neue, cursive;
    font-size: 96px;
    color: white;
    width: 545px;
    height: 230px;
    font-family: "BebasNeue-Regular", cursive;
    margin-bottom: 45px;
}


/* senai informática */

#section1-h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 51px;
    text-transform: uppercase;
    color: #F9003D;
    width: 544px;
    margin-top: 45px;
    margin-bottom: 45px;
    letter-spacing: 1px;
}


/* linha amarela */

hr {
    width: 545px;
    border-color: #FFAF00;
}

#box-title {
    padding-top: 150px;
}


/* section 2 */

/* caixa com os conteúdos */
#box-content{
display: flex;
flex-direction: column;
align-items: start;
justify-content: start;
display: inline-block;
padding-left: 117px;
}

#box-title-img{
display: flex;
flex-direction: column;
align-items: end;
justify-content: end;
display: inline-block;

}


/* section 2 caixa */

#section2{
    height: 800px;
    width: 100%;
    background-color: #080324;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}



/* sobre os projetos */
#section2-h1{
    font-family: BebasNeue-Regular, cursive ;
    font-size: 64px;
    color: #F9003D;
    height: 77px;
    width: 384px;
    margin-bottom: 64px;
}

/* Participantes */
#section2-h2{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    
   
}
/* mais de 80 alunos organizados em 16 grupos */
#section2-h3{
    font-family: BebasNeue-Regular, cursive ;
    font-size: 64px;
    color: #FFAF00;
    height: 154px;
    width: 557px;
    margin-top: 28px;
    
}

/* parágrafo lorem */
#section2-p{
    font-family: Open-Sans;
    font-size: 18px;
    color: white;
    width: 592px;
    height: 252px;
    font-weight: regular;
    margin-top: 28px;
}

img reunião{
    width: 491px ;
    height: 476px;
}

/********section 3*********/


#section3{

    width: 100%;
    height: 200px;
    background-image: url(../assets/images/imagem-fundo-info.png);
    display: flex;
    align-items: center;

}

/* titulos fora da caixa */
.h3-section3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

}

/* content dentro da box */
.p-section3{

    margin: 0 auto;
    color: #A259F7;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 28px;
}

/* box */
.box-information{
    width: 289px;
    height: 100px;
    border: 1px solid #A259F7;   
    align-items: center;
   
}


#section3 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section3 article{
    display: flex;
    flex-direction: column;
}

/* section 4 */

#section4{

    width: 100%;
    height: 516px;
    background-image: url(../assets/images/imagem-fundo-endereco.png);
    padding: 60px 260px;
}

.h1-section4{
    text-transform: uppercase;
    font-size: 64px;
    font-family: BebasNeue-Regular;
    color: #FFAF00;
    
}

#endereco-box{
position: relative;
width: 889px;
height: 203px;
margin-top: 20px;
padding: 80px;
background-color: #010010;
border: 1px solid #A259F7;

}

#endereco-p{
    width: 485px;
    font-family: 'Courier New', Courier, monospace;
    color: #A259F7;
}

#mapa{
    position: absolute;
    right: 40px;
    top: -60px;
}

.box-mapa{
    display: column;
    justify-content: center;
    align-items: center;
}

/* Footer */

.rights {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    background-color: #F9003D;
    color: white;
}

.rights p {
    text-align: center;
}








/* smartphone*/

@media screen and (max-width: 767px) {
   
    main , footer {

        display:none;
    }


    header nav {

       
        position: fixed;
        top: 60px;
        left: 0;
        width: 80vw;
        max-width: 360px;
        height: 100vw;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F9003D;

    }

    header nav a {

        width: 150px;
        margin-bottom: 30px;
        padding-left: 10px;
        border-left: 2px dashed white;
        border-radius: 0;
    }

    header #menu-hamburger{

        display:block;
    }
}